{{!< default}}

{{#if @site.description}}
  <h1 class="description">{{@site.description}}</h1>
{{/if}}

<div id="index" class="container">
  <main class="content" role="main">
    {{> "posts"}}
  </main>
</div>
