{{!< default}}

{{#tag}}
  <div class="inner site-header-content">
    <h1 class="site-title">{{name}}</h1>
    <h2 class="site-description">
      {{#if description}}
        {{description}}
      {{else}}
        A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
      {{/if}}
    </h2>
  </div>
{{/tag}}

{{> "posts"}}
